*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.favicon{
    border-radius: 50%;
}
body{
    font-family: Arial ;
}


img{
    
    width: 0.8cm;
    height: 0.8cm;
    
    margin-left: 20px;
    margin-right: 5px;
    
}
.head{
    background-color: #202654;
    width: 100%;
    height: 2.35cm;
    padding-top: 0.5cm;
    /* display: flex; */
    position: fixed;
    top: 0px;
    
    


}
.head ul li{
    position: relative;
}


.r{
    color: white;
    font-size: 1mm;
    padding-right: 350px;
    
}
.chipper-head{
    width: 50%;
    color: white;
    font-size: 0.9cm;
    font-family: Arial;
    float: left;
    padding-left: 90px;
    
    
    


}
.chichi{
    color: white;
    padding-bottom: 150px;
    font-size: 0.7cm;
    font-family: Arial ;
    /* font-weight: 520; */
    
    padding-bottom: 15px;

}
ul{
    display: flex;
    width: 50%;
    float: right;
    justify-content: space-between;
    font-size: large;
    color: white;
    padding-top: 10px;
    padding-right: 130px;
    align-items: center;
    position: static;
}
li{
    list-style-type: none;
    position: relative;
}

.operation{
    color: black;
    display: flex;
    justify-content: space-between;
    width: 930px;
    font-size: 12px;
    
    color: rgb(189, 184, 184);
    height: 50px;
    align-items: center;
    padding-right: 255px;
    
    padding-left: 30px;

}
.operation_{
    color: black;
    display: flex;
    justify-content: space-between;
    width: 930px;
    font-size: 12px;
    
    color: rgb(189, 184, 184);
    height: 50px;
    align-items: center;
    padding-right: 255px;
    padding-top: 110px;
    padding-left: 30px;

}

.operation1{
    color: black;
    display: flex;
    justify-content: space-between;
    width: 930px;
    font-size: 12px;
    
    height: 90px;
    align-items: center;
    padding-right: 50px;
    padding-left: 20px;

}
.operation1_1{
    color: black;
    display: flex;
    justify-content: flex-end;
    width: 930px;
    font-size: 12px;
    
    height: 90px;
    align-items: center;
    padding-right: 50px;
    padding-left: 20px;
    position: absolute;

}
.operation1_12{
    color: black;
    display: flex;
    justify-content: flex-start;
    width: 930px;
    font-size: 12px;
    
    height: 90px;
    align-items: center;
    padding-right: 50px;
    padding-left: 20px;

}







.leadershipt-div1{
    
    margin-top: 20px;
    padding-left: 0px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    
    width: 268px;
    border-radius: 10px;
    height: 80px;
    
}
.leadershipt-div1:hover{
    background-color: rgb(230, 230, 230);

}





.trans-div{
    width: 930px;
    background-color: transparent;
    height: 50px;
}

#submenu1{
    display: none;
    position: absolute;
    background-color: white;
    width: 930px;
    height: 580px;
    margin-left: -250px;
    border-radius: 20px;
    margin-top: 23px;
    opacity: 1;
    padding-bottom: 30px;
    /* filter: background-color(500%); */
}
.product-menu:hover ul#submenu1{
    opacity: 1;
    background-color: white;
    display: block;
    position: absolute;
    

    

}



.company-link{
    color: white;
    
    height: 190px;
    padding-bottom: 30px;
}
.company-menu{
    /* display: inline-block; */
}
.company-menu:hover  ul#submenu {
    opacity: 1;
    background-color: white;
    display: block;
    
    
    
    
    

    
    
}
#submenu li{
    display: block;

}
#submenu ul{
    display: block;

}
#submenu{
    opacity: 0;
    
    
    /* left: 0;top: 100%; */
    position: absolute;
    /* margin-right: 100px; */
    display: none;
    margin-top: 23px;
    
    
    
    
    background-color: white;
    width: 370px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
    padding-top:30px ;
    margin-left: -130px;
    padding-left: 20px  ;
    
    
    
    
    
    
    


}



.leadershipt-div{
    
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    
    width: 300px;
    border-radius: 10px;
    height: 60px;
}
.leadershipt-div:hover{
    background-color: rgb(230, 230, 230);

}
.leader-logo{
    border-radius: 50%;
    
}

.smallp{
    font-size: 12px;
}























.dowload-button{
    border: 1px solid rgb(205, 205, 245);
    font-size: 18px;
    font-weight: 550;
    border-radius: 10px;
    font-family: Arial;
    background-color: #202654;
    color: white;
    height: 1.1cm;
    width: 3.5cm;
    
}
.dowload-button:hover{
    color: white;
    background-color: rgb(181, 105, 253);

}
.second-layer{
    width: 100%;
    height: 750px;
    background-color: #202654 ;
    display: flex;
    justify-content: space-between; 
    padding-right: 110px;
    padding-left: 111px;
    
}


/* .anime{
    
    position: relative;
    background-color: transparent;
    top: -300px;
    
    
    
} */
.us_1{
    width: 60px;
    height: 60px;
    position: relative;
    left:130px;
    top: 250px;
    animation-name: us_1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    opacity: 1;
    /* animation-delay: 5s; */
    opacity: 0;




}
@keyframes us_1{
    0%{
        left:130px;
        top: 250px;
        opacity: 0;
        

    }

    10%{
        left:130px;
        top: 230px;
        opacity: 0;
        

    }
    20%{
        left:130px;
        top: 180px;
        opacity: 0;
    }
    30%{
        left:130px;
        top: 130px;
        opacity: 0;
    }
    40%{
        left:130px;
        top: 100px;
        opacity: 0;
    }
    50%{
        left:130px;
        top: 130px;
        opacity: 0;
    }
    60%{
        left:130px;
        top: 150px;
        opacity: 0;
    }
    70%{
        left:130px;
        top: 230px;
        opacity: 0;
    }
    80%{
        left:130px;
        top: 250px;
        opacity: 1;
    }
    90%{
        left:130px;
        top: 250px;
        opacity: 1;
    }
}
.us_f{
    width: 22px;
    height: 13px;

    position: relative;
    left: 170px;
    top: 200px;
    border-radius: 3px;
    animation-name: us_f;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    opacity: 0;

}
@keyframes us_f{
    0%{
        left:170px;
        top: 200px;
        opacity: 0;
        

    }

    10%{
        left:170px;
        top: 180px;
        opacity: 0;
        

    }
    20%{
        left:170px;
        top: 150px;
        opacity: 0;
    }
    30%{
        left:170px;
        top: 130px;
        opacity: 0;
    }
    40%{
        left:170px;
        top: 100px;
        opacity: 0;
    }
    50%{
        left:170px;
        top: 130px;
        opacity: 0;
    }
    60%{
        left:170px;
        top: 150px;
        opacity: 0;
    }
    70%{
        left:170px;
        top: 180px;
        opacity: 0;
    }
    80%{
        left:170px;
        top: 200px;
        opacity: 1;
    }
    90%{
        left:170px;
        top: 200px;
        opacity: 1;
    }
}





.us_2{
    width: 60px;
    height: 60px;

    position: relative;
    left: 40px;
    top: 250px;
    animation-name: us_2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;


}
@keyframes us_2{
    0%{
        left:40px;
        top: 250px;
        opacity: 1;
        

    }

    10%{
        left:40px;
        top: 230px;
        opacity: 0;
        

    }
    20%{
        left:40px;
        top: 180px;
        opacity: 0;
    }
    30%{
        left:40px;
        top: 130px;
        opacity: 0;
    }
    40%{
        left:40px;
        top: 100px;
        opacity: 0;
    }
    50%{
        left:40px;
        top: 130px;
        opacity: 0;
    }
    60%{
        left:40px;
        top: 150px;
        opacity: 0;
    }
    70%{
        left:40px;
        top: 230px;
        opacity: 0;
    }
    80%{
        left:40px;
        top: 250px;
        opacity: 1;
    }
    90%{
        left:40px;
        top: 250px;
        opacity: 1;
    }
}
.us_f2{
    width: 22px;
    height: 13px;

    position: relative;
    left: 120px;
    top: 200px;
    border-radius: 3px;
    animation-name: us_f2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    


}
@keyframes us_f2{
    0%{
        left:120px;
        top: 200px;
        opacity: 1;
        

    }

    10%{
        left:120px;
        top: 180px;
        opacity: 0;
        

    }
    20%{
        left:120px;
        top: 150px;
        opacity: 0;
    }
    30%{
        left:120px;
        top: 130px;
        opacity: 0;
    }
    40%{
        left:110px;
        top: 100px;
        opacity: 0;
    }
    50%{
        left:110px;
        top: 130px;
        opacity: 0;
    }
    60%{
        left:110px;
        top: 150px;
        opacity: 0;
    }
    70%{
        left:120px;
        top: 180px;
        opacity: 0;
    }
    80%{
        left:120px;
        top: 200px;
        opacity: 1;
    }
    90%{
        left:120px;
        top: 200px;
        opacity: 1;
    }
}

.nig1{
    width: 40px;
    height: 40px;

    position: relative;
    left: -230px;
    top: 370px;
    animation-name: nig_1;
    animation-duration: 9s;
    animation-iteration-count: infinite;

}
@keyframes nig_1{
    0%{
        left:-230px;
        top: 370px;
        opacity: 0;
        

    }

    10%{
        left:-20px;
        top: 350px;
        opacity: 0;
        

    }
    20%{
        left:-230px;
        top: 300px;
        opacity: 0;
    }
    30%{
        left:-230px;
        top: 250px;
        opacity: 0;
    }
    40%{
        left:-230px;
        top: 200px;
        opacity: 0;
    }
    50%{
        left:-230px;
        top: 230px;
        opacity: 0;
    }
    60%{
        left:-230px;
        top: 250px;
        opacity: 0;
    }
    70%{
        left:-230px;
        top: 300px;
        opacity: 0;
    }
    80%{
        left:-230px;
        top: 370px;
        opacity: 1;
    }
    90%{
        left:-230px;
        top: 370px;
        opacity: 1;
    }

}



.nigf{
    width: 22px;
    height: 13px;

    position: relative;
    left: -275px;
    top: 370px;
    border-radius: 3px;
    animation-name: nigf;
    animation-duration: 9s;
    animation-iteration-count: infinite;

}
@keyframes nigf{
    0%{
        left:-275px;
        top: 370px;
        opacity: 0;
        

    }

    10%{
        left:-275px;
        top: 350px;
        opacity: 0;
        

    }
    20%{
        left:-275px;
        top: 300px;
        opacity: 0;
    }
    30%{
        left:-275px;
        top: 250px;
        opacity: 0;
    }
    40%{
        left:-275px;
        top: 200px;
        opacity: 0;
    }
    50%{
        left:-275px;
        top: 230px;
        opacity: 0;
    }
    60%{
        left:-275px;
        top: 250px;
        opacity: 0;
    }
    70%{
        left:-275px;
        top: 300px;
        opacity: 0;
    }
    80%{
        left:-275px;
        top: 370px;
        opacity: 1;
    }
    90%{
        left:-275px;
        top: 370px;
        opacity: 1;
    }

}







.ghn{
    width: 40px;
    height: 25px;

    position: relative;
    left: 20px;
    top: 330px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    animation-name: ghn;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes ghn{
    0%{
        left:20px;
        top: 330px;
        opacity: 0;
        

    }

    10%{
        left:20px;
        top: 350px;
        opacity: 0;
        

    }
    20%{
        left:20px;
        top: 300px;
        opacity: 0;
    }
    30%{
        left:20px;
        top: 250px;
        opacity: 0;
    }
    40%{
        left:20px;
        top: 200px;
        opacity: 0;
    }
    50%{
        left:20px;
        top: 230px;
        opacity: 0;
    }
    60%{
        left:20px;
        top: 250px;
        opacity: 0;
    }
    70%{
        left:20px;
        top: 300px;
        opacity: 0;
    }
    80%{
        left:20px;
        top: 330px;
        opacity: 1;
    }
    90%{
        left:20px;
        top: 330px;
        opacity: 1;
    }
}

.ghn_f{
    width: 22px;
    height: 13px;

    position: relative;
    left: -55px;
    top: 330px;
    border-radius: 3px;
    animation-name: ghn_f;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-duration: 9s;


}
@keyframes ghn_f{
    0%{
        left:-55px;
        top: 330px;
        opacity: 0;
        

    }

    10%{
        left:-55px;
        top: 350px;
        opacity: 0;
        

    }
    20%{
        left:-55px;
        top: 300px;
        opacity: 0;
    }
    30%{
        left:-55px;
        top: 250px;
        opacity: 0;
    }
    40%{
        left:-55px;
        top: 200px;
        opacity: 0;
    }
    50%{
        left:-55px;
        top: 230px;
        opacity: 0;
    }
    60%{
        left:-55px;
        top: 250px;
        opacity: 0;
    }
    70%{
        left:-55px;
        top: 300px;
        opacity: 0;
    }
    80%{
        left:-55px;
        top: 330px;
        opacity: 1;
    }
    90%{
        left:-55px;
        top: 330px;
        opacity: 1;
    }
}



.uganda{
    width: 40px;
    height: 40px;

    position: relative;
    left: 50px;
    top: 420px;
    animation-name: ugd_c;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-delay: 3s;
}
@keyframes ugd_c{
    0%{
        left:50px;
        top: 420px;
        opacity: 0;
        

    }

    10%{
        left:50px;
        top: 390px;
        opacity: 0;
        

    }
    20%{
        left:50px;
        top: 350px;
        opacity: 0;
    }
    30%{
        left:50px;
        top: 320px;
        opacity: 0;
    }
    40%{
        left:10px;
        top: 360px;
        opacity: 0;
    }
    50%{
        left:50px;
        top: 300px;
        opacity: 0;
    }
    60%{
        left:50px;
        top: 350px;
        opacity: 0;
    }
    70%{
        left:50px;
        top: 390px;
        opacity: 0;
    }
    80%{
        left:50px;
        top: 420px;
        opacity: 1;
    }
    90%{
        left:50px;
        top: 420px;
        opacity: 1;
    }

}
.ugd_f{
    width: 22px;
    height: 13px;

    position: relative;
    left: 280px;
    top: 390px;
    border-radius: 3px;
    animation-name: ugd_f;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-delay: 3s;
}

@keyframes ugd_f{
    0%{
        left:280px;
        top: 390px;
        opacity: 0;
        

    }

    10%{
        left:50px;
        top: 350px;
        opacity: 0;
        

    }
    20%{
        left:50px;
        top: 350px;
        opacity: 0;
    }
    30%{
        left:280px;
        top: 320px;
        opacity: 0;
    }
    40%{
        left:280px;
        top: 360px;
        opacity: 0;
    }
    50%{
        left:280px;
        top:290px;
        opacity: 0;
    }
    60%{
        left:280px;
        top: 300px;
        opacity: 0;
    }
    70%{
        left:280px;
        top: 350px;
        opacity: 0;
    }
    80%{
        left:280px;
        top: 390px;
        opacity: 1;
    }
    90%{
        left:280px;
        top: 390px;
        opacity: 1;
    }

}


.ukraine{
    width: 40px;
    height: 40px;

    position: relative;
    left: 10px;
    top: 390px;
    animation-name: ukr;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;


}
@keyframes ukr{
    0%{
        left:10px;
        top: 390px;
        opacity: 0;
        

    }

    10%{
        left:10px;
        top: 350px;
        opacity: 0;
        

    }
    20%{
        left:10px;
        top: 300px;
        opacity: 0;
    }
    30%{
        left:10px;
        top: 250px;
        opacity: 0;
    }
    40%{
        left:10px;
        top: 200px;
        opacity: 0;
    }
    50%{
        left:10px;
        top: 230px;
        opacity: 0;
    }
    60%{
        left:10px;
        top: 250px;
        opacity: 0;
    }
    70%{
        left:10px;
        top: 350px;
        opacity: 0;
    }
    80%{
        left:10px;
        top: 390px;
        opacity: 1;
    }
    90%{
        left:10px;
        top: 390px;
        opacity: 1;
    }

}



.ukr_f{
    width: 22px;
    height: 13px;

    position: relative;
    left: 390px;
    top: 365px;
    border-radius: 3px;
    animation-name: ukr_f;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;

}
@keyframes ukr_f{
    0%{
        left:390px;
        top: 365px;
        opacity: 0;
        

    }

    10%{
        left:390px;
        top: 340px;
        opacity: 0;
        

    }
    20%{
        left:390px;
        top: 300px;
        opacity: 0;
    }
    30%{
        left:390px;
        top: 250px;
        opacity: 0;
    }
    40%{
        left:390px;
        top: 200px;
        opacity: 0;
    }
    50%{
        left:390px;
        top: 230px;
        opacity: 0;
    }
    60%{
        left:390px;
        top: 300px;
        opacity: 0;
    }
    70%{
        left:390px;
        top: 350px;
        opacity: 0;
    }
    80%{
        left:390px;
        top: 365px;
        opacity: 1;
    }
    90%{
        left:390px;
        top: 365px;
        opacity: 1;
    }

}






.south_1{
    width: 40px;
    height: 40px;

    position: relative;
    left: 260px;
    top: 520px;
    animation-name: sa;
    animation-iteration-count: infinite;
    animation-duration: 6.6s;
    
    

}
@keyframes sa{
    0%{
        left:260px;
        top: 520px;
        opacity: 0;
        

    }

    10%{
        left:390px;
        top: 500px;
        opacity: 0;
        

    }
    20%{
        left:260px;
        top: 300px;
        opacity: 0;
    }
    30%{
        left:260px;
        top: 250px;
        opacity: 0;
    }
    40%{
        left:260px;
        top: 200px;
        opacity: 0;
    }
    50%{
        left:260px;
        top: 230px;
        opacity: 0;
    }
    60%{
        left:260px;
        top: 300px;
        opacity: 0;
    }
    70%{
        left:260px;
        top: 500px;
        opacity: 0;
    }
    80%{
        left:260px;
        top: 520px;
        opacity: 1;
    }
    90%{
        left:260px;
        top: 520px;
        opacity: 1;
    }

}
.sa_f{
    width: 22px;
    height: 13px;

    position: relative;
    left: 110px;
    top: 490px;
    border-radius: 3px;
    animation-name: sa_f;
    animation-duration: 6.6s;
    animation-iteration-count: infinite;
    

}
@keyframes sa_f{
    0%{
        left:110px;
        top: 490px;
        opacity: 0;
        

    }

    10%{
        left:110px;
        top: 450px;
        opacity: 0;
        

    }
    20%{
        left:110px;
        top: 400px;
        opacity: 0;
    }
    30%{
        left:110px;
        top: 350px;
        opacity: 0;
    }
    40%{
        left:110px;
        top: 300px;
        opacity: 0;
    }
    50%{
        left:110px;
        top: 350px;
        opacity: 0;
    }
    60%{
        left:110px;
        top: 390px;
        opacity: 0;
    }
    70%{
        left:110px;
        top: 450px;
        opacity: 0;
    }
    80%{
        left:110px;
        top: 490px;
        opacity: 1;
    }
    90%{
        left:110px;
        top: 490px;
        opacity: 1;
    }
}
.south_2{
    width: 40px;
    height: 40px;

    position: relative;
    left: 190px;
    top: 520px;
    animation-name: sa_1;
    animation-duration: 13.2s;
    animation-iteration-count: infinite;
    /* animation-delay: 3s; */


}
@keyframes sa_1{
    0%{
        left:190px;
        top: 520px;
        opacity: 0;
        

    }

    10%{
        left:190px;
        top: 500px;
        opacity: 0;
        

    }
    20%{
        left:190px;
        top: 300px;
        opacity: 0;
    }
    30%{
        left:190px;
        top: 250px;
        opacity: 0;
    }
    40%{
        left:190px;
        top: 200px;
        opacity: 0;
    }
    50%{
        left:190px;
        top: 230px;
        opacity: 0;
    }
    60%{
        left:190px;
        top: 300px;
        opacity: 0;
    }
    70%{
        left:190px;
        top: 500px;
        opacity: 0;
    }
    80%{
        left:190px;
        top: 520px;
        opacity: 1;
    }
    90%{
        left:190px;
        top: 520px;
        opacity: 1;
    }

}
.sa_f1{
    width: 22px;
    height: 13px;

    position: relative;
    left: 60px;
    top: 490px;
    border-radius: 3px;
    animation-name: sa_f1;
    animation-duration: 13.2s;
    animation-iteration-count: infinite;
    /* animation-delay: 2s; */

}
@keyframes sa_f1{
    0%{
        left:60px;
        top: 490px;
        opacity: 0;
        

    }

    10%{
        left:60px;
        top: 450px;
        opacity: 0;
        

    }
    20%{
        left:60px;
        top: 400px;
        opacity: 0;
    }
    30%{
        left:60px;
        top: 350px;
        opacity: 0;
    }
    40%{
        left:60px;
        top: 300px;
        opacity: 0;
    }
    50%{
        left:60px;
        top: 250px;
        opacity: 0;
    }
    60%{
        left:60px;
        top: 300px;
        opacity: 0;
    }
    70%{
        left:60px;
        top: 450px;
        opacity: 0;
    }
    80%{
        left:60px;
        top: 490px;
        opacity: 1;
    }
    90%{
        left:60px;
        top: 490px;
        opacity: 1;
    }
}

.south_3{
    width: 40px;
    height: 40px;

    position: relative;
    left: 120px;
    top: 520px;
    animation-name: sa_2;
    animation-duration: 19s;
    animation-iteration-count: infinite;
    /* animation-delay: 1s; */
    

}

@keyframes sa_2{
    0%{
        left:120px;
        top: 520px;
        opacity: 0;
        

    }

    10%{
        left:120px;
        top: 500px;
        opacity: 0;
        

    }
    20%{
        left:120px;
        top: 300px;
        opacity: 0;
    }
    30%{
        left:120px;
        top: 250px;
        opacity: 0;
    }
    40%{
        left:120px;
        top: 200px;
        opacity: 0;
    }
    50%{
        left:120px;
        top: 230px;
        opacity: 0;
    }
    60%{
        left:120px;
        top: 300px;
        opacity: 0;
    }
    70%{
        left:120px;
        top: 500px;
        opacity: 0;
    }
    80%{
        left:120px;
        top: 520px;
        opacity: 1;
    }
    90%{
        left:120px;
        top: 520px;
        opacity: 1;
    }

}
.sa_f2{
    width: 22px;
    height: 13px;

    position: relative;
    left: 10px;
    top: 490px;
    border-radius: 3px;
    animation-name: sa_f2;
    animation-duration: 19s;
    animation-iteration-count: infinite;
    

}
@keyframes sa_f2{
    0%{
        left:10px;
        top: 490px;
        opacity: 0;
        

    }

    10%{
        left:10px;
        top: 450px;
        opacity: 0;
        

    }
    20%{
        left:10px;
        top: 400px;
        opacity: 0;
    }
    30%{
        left:10px;
        top: 350px;
        opacity: 0;
    }
    40%{
        left:10px;
        top: 300px;
        opacity: 0;
    }
    50%{
        left:10px;
        top: 350px;
        opacity: 0;
    }
    60%{
        left:10px;
        top: 360px;
        opacity: 0;
    }
    70%{
        left:10px;
        top: 400px;
        opacity: 0;
    }
    80%{
        left:10px;
        top: 490px;
        opacity: 1;
    }
    90%{
        left:10px;
        top: 490px;
        opacity: 1;
    }
}

.flexcase{
    display: flex;
}
.ogaha{
    display: flex;
}






table{
    
    width: 490px;
}










.map{
    height: 18cm;
    width: 15.3cm;
    padding-top: 10px;
    padding-right: 40px;
    
    background-color:#202654;
    
    margin-left: 80px;
    
    

    
    
    
}
.map_container{

}














.ani{
    position: absolute;
    top: 200px;
    left: 900px;
    width: 30px;
    height: 30px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes move{
    0%{
        top: 200px;
        left: 900px;
    }
    10%{
        top:  250px;
        right: 11px;
    }
    20%{
        top: 560px;
        left: 1300px;
    }
}




.write-up{
    padding-top: 4cm;
    color: rgb(201, 206, 223);
    
}
.the_move{
    font-size: 45px;
    font-family: Arial;

}
.sub-writeup{
    font-family: Arial;
    font-size: 16px;
    font-weight: 100;
    white-space: nowrap;
    

}
.white-circle{
    height: 180px;
    width: 180px;
    background-color: white;
    border-radius: 50%;
    margin-top: 50px;
    /* position: absolute; */
    padding-top: 25px;padding-left: 20px;
}
.qr-code{
    
    
    height:130px ;
    width: 120px;
    border-radius: 10%;
    padding-right: 15px;
}
.scan{
    padding-top: 40px;
    padding-left: 30px;
    font-size: 17px;
    color: white;
}
.phone-type{
    padding-bottom: 10px;
    padding-left: 30px;
    margin-right: 10px;
    color: rgb(169, 183, 197);
    font-size: 17px;

}
.phone-type1{
    padding-bottom: 10px;
    padding-left: 10px;
    color: rgb(169, 183, 197);
    font-size: 17px;
    
}
table{
    border-collapse: collapse;
}



.third-layer{
    height: 200px;
    width: 100%;
    background-color:  #202654;
    padding-right: 111px;
    padding-left: 111px;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.dash{
    color: white;
    font-size: xx-large;
}
.amount-sub{
    color: rgb(221, 232, 243);
    font-size: small;
}
.amount{
    color: white;
    text-align: center;
    font-size: xx-large;
}
.chipper-figure{
    color: rgb(221, 232, 243);
    font-family: Arial;
    font-weight: 700;
    
}
.layer-four{
    height: 630px;
    width: 100%;
    background-color:  #202654;
    padding-right: 111px;
    padding-left: 111px;
    text-align: center;
    padding-top: 50px;
    
    

}
a{
    color: aqua;
    font-size: large;
    text-decoration: none;

}
.dis:hover .fa-minus{

    /* transform: translateX(180deg); */
    transform: rotateZ(90deg);
    
    transition-timing-function: ease-in;
    transition-duration: 0s;
    perspective: 500px;
}
.africa{
    font-size: xx-large;
    color: white;

}
.kockob{
    width: 100%;
    /* display: flex; */
    height: 444px;
    
}
.empty-circle{
    height: 250px;
    width: 250px;
    background-color: rgb(112, 16, 156);
    
    border-radius: 50%;
    /* margin-right: -980px; */
    
    left: 830px;
    position: absolute;
    
    
    
    
}
.square3-div{
    height: 400px;
    width: 650px;
    background-color: white;
    /* margin-left: 300px; */
    
    margin-top: 50px;
    border-radius: 50px 50px 0px 0px;
    padding-top: 10px;
    /* margin-left: 600px; */
    position: relative;
    
    

}
.pple{
    height: 350px;
    width: 620px;
    border-radius: 50px 50px 0px 0px;
    margin-left: 0px;
    position: relative;
    
}
.empty-circle2{
    height: 200px;
    width: 200px;
    background-color: rgb(252, 81, 18);
    /* position: absolute; */
    border-top-left-radius: 80ch;
    
    margin-top: 248px; 
    
    
    
}
.puff{
    background-color: aqua;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    /* margin-left: 200px; margin-top: 120px; */
    margin-top:100px;left: 190px;
    position: absolute;
    
}
.puff1{
    background-color: aqua;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    /* margin-left: 960px;margin-top: 400px; */
    margin-top: 390px;
    position: absolute;
    left: 1000px;
    
    
}
.layer5{
    width: 100%;
    height: 510px;
    background-color:rgb(240, 241, 243);
    display: flex;
    padding-right: 111px;
    padding-left: 60px;
    justify-content: space-between;
}
.phone_image{
    width: 600px;
    height: 510px;
}
.right-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 140px;
}
.send-money{
    font-size: 40px;
    color: rgb(19, 1, 32);
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.sending{
    font-weight: 100;
    font-size: 17px;
    color: rgb(50, 2, 83);
    font-family:  Helvetica ;
    

}
.iphone-link{
    color: blueviolet;
    padding-right: 300px;
    font-size: 18px;
    font-weight: 100;
    font-family:   'Arial ' ;
}
.yea{
    font-size: 25px;
    color: blueviolet;
}
.iphone-link:hover .yea{
    transform: rotateZ(90deg);
    
    transition-timing-function: ease-in;
    transition-duration: 0s;
    perspective: 500px;
}
.yeaa{
    font-size: 35px;
    color: blueviolet;
}
.yea:hover{
    transform: rotateY(180deg);
    

    
    transition-duration: 5s;
}
.burna-nav{
    width: 100%;
    height: 430px;
    background-color: rgb(127, 104, 255);
    display: flex;
    justify-content: space-between;

    padding-left: 111px;
}
.burna-nav-writeup{
    color: aquamarine;
    font-size: 60px;
    font-family: Arial;

    
}
.burna-h3{
    color: white;
    font-size: 25px;
    font-weight: 200;
    font-family: Arial;
}
.burna-div{
    padding-top: 150px;
}
.theburna{
    width: 650px;
    height: 430px;
    color: rgb(50, 2, 83);
}













.connection-nav{
    background-color: white;
    width: 100%;
    height: 790px;
    text-align: center;
    padding-top: 110px;
}
.connection-h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif ;
    color: rgb(29, 2, 48);
}
.connection-p{
    color: rgb(87, 80, 92);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif ;
}
.trailor-side{
    display: flex;
    justify-content: space-between;
}
.left_design{
    /* background-color: rgb(184, 41, 184); */
    height: 450px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.orange-div{
    width: 15px;
    height: 15px;
    background-color: tomato;
    border-radius: 50%;
    margin-left: 115px;

}
.orange_yellow-div{
    width: 15px;
    height: 15px;
    background-color: rgb(255, 191, 71);
    border-radius: 50%;
    margin-left: 210px;
    
}
.purple-div{
    width: 15px;
    height: 15px;
    background-color: rgb(80, 10, 209);
    border-radius: 5px;
    margin-left: 140px;

}








.right_design{
    /* background-color: rgb(184, 41, 184); */
    height: 450px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
}
.green-div{
    width: 15px;
    height: 15px;
    background-color: rgb(120, 199, 157);
    border-radius: 50%;
    
}
.Rpurple-div{
    width: 15px;
    height: 15px;
    background-color: rgb(80, 10, 209);
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 50px;

}
.red-div{
    width: 15px;
    height: 15px;
    background-color: rgb(252, 96, 96);
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 60px;


}


.landscape{
    width: 720px;
    height: 450px;
    border-radius: 20px;
    grid-area: 1/8;
    text-align: center;
    margin-left: 10px;

}
.pause{
    
    
    background-color:transparent;


    font-size: 90px;
    margin-left: -400px;
    color: white;
    display: flex;
    justify-content: center;

    place-items: center;
    padding-right: 300px;

    
   
    
    
    
}
.pause:hover{
    transition: ease-in;
    /* font-size: 110px; */
    transform: scale(1.1);
    transform-style: inherit;
}
.main{

    display: flex;
    justify-content: center;
    
    

    place-items: center;
    
}
.main:hover .pause{
    transform: scale(1.1);
    
}
.rating-nav{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding-right: 111px;
    padding-left: 111px;

}
.main-rating{
    
    display: flex;
    justify-content: space-between;
    font-size: 550px;
    line-height: 10px;
    padding-top: 50px;
    font-family: Arial;
    
}
.left-element{
    font-size: 20px;
    font-weight: 10px;
    color: rgb(63, 36, 82);
    padding-top: 100px;
    
    font-family: Arial, Helvetica, sans-serif ;
    
    

}
div{
    font-size: 20px;
    font-weight: 10px;
    color: rgb(63, 36, 82);
    
    font-family: Arial, Helvetica, sans-serif ;
}
.numbers{
    font-size: 70px;
    font-weight: lighter;
    word-spacing: -1px;
    font-family: Arial;
}
.tiny{
    font-size: 15px;
      
    
}
.okolo{
    color: rgb(63, 36, 82);
}
.usa{
    border: 1px solid black;
    box-shadow: 0px 0px 5px ;
    width: 350px;
    height: 190px;
    padding: 10px;
    border-radius: 20px;
    
    
}
.us-flag{
    float: right;
    width: 40px;
    border-radius: 4px;
    
}
.ghana{
    border: 1px solid black;
    box-shadow: 0px 0px 5px ;
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}
.nig{
    border: 1px solid black;
    box-shadow: 0px 0px 5px ;
    width: 320px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;

}
.stars{
    float: left;
    width: 150px;
}
.fin{
    color: orange;
    font-size: smaller;
    margin-left: 5px;
}
.p-font{
    font-size: smaller;
    text-align: left;
}
.sub-font{
    font-size: 12px;
    text-align: left;
    
}
table{
    padding-left: 10px;
}
.white-space{
    width: 100%;
    background-color: white;
    height: 100px;
}
.banner1-nav{
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color:black;
    
    
}
.banner1{
    width: 1200px;
    height: 500px;
    margin-right: -0px;
    float: right;
    

    

}




.banner-writeup{
    
    color: white;
    padding-top: 80px;
    float: left;
    margin-right: -480px;
    margin-left: 110px;

}
.banner-writeup_h2{
    font-size: 40px;
}
.banner-writeup_p{
    font-size: 17px;
    text-align: center;
    font-weight: 100;
    font-family: Arial, Helvetica;
}
.twi{
    color: rgb(63, 62, 62);
    font-size: 40px;
}
.twi:hover{
    color: rgb(18, 169, 230);
}
.olo{
    padding-left:20px;
    
}
.ins{
    color: rgb(63, 62, 62);
    font-size: 40px;
    filter: grayscale(100);
    
}
.ins:hover{
    /* background:linear-gradient(  #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529); */
    background-size: 50% 100%;
    /* background-color: transparent; */
    filter:none;
    
}
.fac{ 
    color: rgb(63, 62, 62);
    font-size: 40px;
    padding-left:20px;

}
.fac:hover{
    color: rgb(94, 120, 238);
}
.you{
    color: rgb(63, 62, 62);
    font-size: 35px;
    padding-left:20px;
}
.you:hover{
    color: red;
}
.tik{
    /* color: rgb(63, 62, 62); */
    font-size: 40px;
    filter: grayscale(100);

}
.tik:hover{
    filter: none;
    text-shadow: -1px  2px red ;
    text-shadow: 1 2px yellowgreen;

}
.lin{
    color: rgb(63, 62, 62);
    font-size: 40px;
    padding-left: 20px;
}
.lin:hover{
    color: rgb(0, 121, 202) ;
}




.sili{
    height: 350px;
    
    width: 100%;
    padding-left: 111px;
    padding-top: 100px;
    padding-right: 111px;
    /* opacity: 0.1; */
    display: flex;
    justify-content: space-between;
}
.feature-p{
    font-size: 16px;
}
.feature-h1{
    font-size: 40px;
    color: black;
}


.ngwa{
    
    background-color:rgb(189, 185, 185);
    width: 85px;
    height: 35px;
    
}

.ngwa:hover{
    
    background-color: red;
    color: black;
    transition: ease-in;
    transition-duration: 0.5s;
    
}
.bbc{
    
    background-color:rgb(189, 185, 185);
    width: 110px;
    height: 40px;
}
.bbc:hover{
    background-color:black;
    transition: ease-in;
    transition-duration: 0.5s;
    
    
}
.forbes{
    font-size: 45px;
    font-weight: 900;
    font-family: 'Times New Roman';
    color: rgb(189, 185, 185);
    margin-top: -10px;
}
.forbes:hover{
    color: #33629A;
    transition: ease-in;
    transition-duration: 0.5s;
}
.tc{
    color-adjust: 56;
    background-color: rgb(189, 185, 185);
    height: 40px;
    width: 70px;
    opacity: 0.5;
    margin-left: 40px;
    
    
}
.tc:hover{
    background-color: rgb(12, 197, 12);
    opacity: 1;
    transition: ease-in;
    transition-duration: 0.5s;
}
.ap{
    font-size: 60px;
    color:  rgb(189, 185, 185);
    padding-right: 50px;
    
}
.ap:hover{
    color: black;
    transition: ease-in;
    transition-duration: 0.5s;

}
.roma{
    height: 55px;
    width: 45px;
    /* background-color:  rgb(189, 185, 185);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 1.9pc;
    border-top-left-radius: 1.9pc; */
    margin-left: -0px;
    filter: grayscale(100);
}
.roma:hover{
    filter: none;
    transition: ease-in;
    transition-duration: 0.5s;

}
.news-link{
    color: mediumslateblue;
}
.news-link:hover .fa-minus{
    transform: rotateZ(90deg);
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
}

.logos{
    
    width: 570px;
    height: 250px;
}
.first-logos{
    display: flex;
    justify-content: space-between;
}
.sec-logos{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.stock-nav{
    height: 660px;
    width: 100%;
    padding-top: 100px;
    padding-right: 111px;
    padding-left: 111px;
    display: flex;
    justify-content: space-between;
    background-color:white;
}
.stock-div{
    padding-top: 160px;
    background-color: white;
    height:550px ;
}
.stock-h2{
    color: black;
    font-size: 40px;
    text-align: center;
    padding-right: 210px;
}
.stock-p{
    font-size: 16px;

    line-height: 25px;

}





.google-img{
    height: 550px;
    width: 600px;
    background-color: white;
    color: white;
}

.football-nav{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 111px;
    padding-left: 111px;
    padding-top: 110px;

}
.football-div1{
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    width: 500px;
    padding: 0px;
    margin-left: -20px;
    padding-right: 30px;
}
.team{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.baller{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.chai-boy{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}





.football-div2{
    text-align: left;
    padding-right: 60px;
    line-height: 20px;
    padding-top: 30px;
}
.fa-minus{
    font-size: x-large;
    font: bold;
    
}
.hard-nav{
    height: 500px;
    width: 100%;
    background-color: white;
    padding-top: 220px;
    padding-left: 111px;
    padding-right: 111px;
    display: flex;
}
.hard-div{
    box-shadow: 1px 1px 5px black;
    width: 1100px;
    height: 370px;
    background-color: rgb(255, 246, 246);
    border-radius: 30px;
    

    
}
.hard-div1{
    box-shadow: 1px 1px 0px black;
    width: 1100px;
    height: 370px;
    
    border-radius: 30px;
    text-align: center;
    padding-top: 100px;
    margin-left: -1105px;
   
    
}
.hard-div1_h2{
    color: black;
    font-size: 40px;
    font-family:  Helvetica;
    
}

.downloader{
    display: flex;
    
    padding-right: 300px;
    padding-left: 300px;
    margin-left: 50px;

}

.iphone_download{
    width: 170px;
    height: 70px;
    background-color:  #202654;
    border-radius: 20px;
    color: white;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    justify-content: space-between;

}
.iphone_download:hover{
    background-color: rgb(36, 36, 131);
}

.andriod_download{
    width: 170px;
    height: 70px;
    background-color:  #202654;
    margin-left: 50px;
    border-radius: 20px;
    color: white;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;

}
.andriod_download:hover{
    background-color: rgb(36, 36, 131);
}

.pp{
    font-size: 35px;
    margin-top: 5px;
}
.gool{
    font-size: 25px;
    margin-top: 10px;
}
.download_on{
    color: white;
    font-size: 12px;
}
.app_store{
    color: white;
    font-size: 18px;
}

.hehe{
    text-align: justify;
}




.support-nav{
    width: 100%;
    height: 300px;
    background-color:  #202654;
    padding-top: 190px;
    padding-left: 111px;
    padding-right: 111px;
    display: flex;
    justify-content: space-between;
    

}
.chipper-heab{
    color: white;
}
.support-p{
    color: violet;
    margin-left: 20px;
}
.hmm{
    font-size: 14px;
    padding-left: 10px;
    color: rgba(198, 201, 238, 0.918);
}
.how_can{
    color: white;
    font-size: 26px;
}
.help_docs{
    color: rgb(165, 245, 237);
    font-weight: bold;

}
.help_docs:hover .fa-minus{
    transform: rotateZ(90deg);
    transition-timing-function: ease-in;
    transition-duration: 0.2s;

}

.support-chat{
    color: rgba(198, 201, 238, 0.918);
    font-size: 14px;
}
.dfdffd{
    color: rgba(198, 201, 238, 0.918);
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.last_last-nav{
    width: 100%;
    height: 150px;
    background-color:  #202654;
    padding-left: 111px;
    padding-right: 111px;
    padding-top: 45px;
}
hr{
    color: rgba(179, 182, 221, 0.918);
    opacity: 0.1;
    
    font-weight: 100;
}

.last-subject{
    display: flex;
    justify-content: space-between;
}
.last-subject1{
    color: rgba(198, 201, 238, 0.918);
    font-size: 14px;
}
.last-subject2{
    color: rgba(198, 201, 238, 0.918);
    font-size: 14px;
}
.last-subject3{
    color: rgba(198, 201, 238, 0.918);
    font-size: 14px;
}
.socials-a{
    color: rgba(198, 201, 238, 0.918);
    padding-left: 10px;
}

.wey{
    background-color: rgb(140, 38, 236);
    width: 170px;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-family: Arial  ;
    /* display: none; */
    opacity: 0;
}
.ggfggf{
    display: flex;
    /* justify-content: space-between; */
    margin-left: 50px;
}
.bambam{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}















































